{% extends 'baseFront.html.twig' %}

{% block title %}Edit Participation{% endblock %}

{% block body %}
<h1 style="color: #9370db; text-shadow: 2px 2px #ffa500;">Edit Participation </h1>

    {{ include('participation/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
