<form method="post" action="{{ path('app_mission_delete', {'idMission': mission.idMission}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mission.idMission) }}">
    <button class="btn">Delete</button>
</form>
