{% extends 'front.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1>Create your Account</h1>

    {{ include('user/_form.html.twig') }}

    {# <a href="{{ path('app_user_index') }}">back to list</a> #}
{% endblock %}
