<form method="post" action="{{ path('app_covoiturage_delete_back', {'id': covoiturage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ covoiturage.id) }}">
    <button >Delete</button>
</form>
