<form method="post" action="{{ path('app_covoiturage_delete', {'idCovoiturage': covoiturage.idCovoiturage}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ covoiturage.idCovoiturage) }}">
    <button class="btn">Delete</button>
</form>
