{% extends 'front.html.twig' %}

{% block title %}New Covoiturage{% endblock %}

{% block body %}
<h1>Create New Covoiturage </h1>

    {{ include('covoiturage/_form.html.twig') }}



    {% endblock %}
