{% extends 'baseFront.html.twig' %}

{% block title %}New Covoiturage{% endblock %}

{% block body %}
<center><h1 style="color: #9370db; text-shadow: 2px 2px #ffa500;">Create New Covoiturage </h1></center>

    {{ include('covoiturage/_form.html.twig') }}



    {% endblock %}
